In [2]:
# Imports
import numpy as np
import pandas as pd

### Read in and clean JC csvs

In [4]:
# Create dataframe to hold cleaned data from from all csvs
data_cleaned_JC = pd.DataFrame()

# Create list of JC csv file names
csvs = ['JC-201901-citibike-tripdata.csv', 
        'JC-201902-citibike-tripdata.csv', 
        'JC-201903-citibike-tripdata.csv']

for csv in csvs:
    # Read in to raw_data
    raw_data = pd.read_csv('./Resources/' + csv)
    if len(raw_data) > 0:
        print (f'Sucessfully read in {len(raw_data)} rows from {csv}.')
    else: 
        print (f'Failed reading in data from {csv}.')
    
    # Drop nas
    raw_data = raw_data.dropna()
    print(f'Dropped nas.  {len(raw_data)} rows remain.')
    
    # Add column stating geographic scope
    raw_data['Geographic Scope'] = 'Jersey City'
    
    # Rename columns with Tableau-facing names
    raw_data = raw_data.rename(columns={
        'tripduration': 'Trip Duration (Seconds)',
        'starttime': 'Start Time',
        'stoptime': 'Stop Time',
        'start station id': 'Start Station ID',
        'start station name': 'Start Station Name',
        'start station latitude': 'Start Station Latitude',
        'start station longitude': 'Start Station Longitude',
        'end station id': 'End Station ID',
        'end station name': 'End Station Name',
        'end station latitude': 'End Station Latitude',
        'end station longitude': 'End Station Longitude',
        'bikeid': 'Bike ID',
        'usertype': 'User Type',
        'birth year': 'Birth Year',
        'gender': 'Gender',
    })
    
    # Convert datetime columns from string to datetime
    raw_data['Start Time'] = pd.to_datetime(raw_data['Start Time'])
    raw_data['Stop Time'] = pd.to_datetime(raw_data['Stop Time'])
    
    # Extract Year-Month for future filtering
    def to_year_month(my_datetime):
        month = my_datetime.month
        year= my_datetime.year
        zero_if_needed = ''
        if (month >= 1 and month <= 9):
            zero_if_needed = '0'
        return str(year) + '-' + zero_if_needed + str(month) 
    raw_data['Year-Month'] = raw_data['Start Time'].apply(to_year_month)
    
    # Reassign values of gender column to human readable names
    raw_data['Gender'] = raw_data['Gender'].map({
        0: 'Unknown',
        1: 'Male',
        2: 'Female',
    })
    
    # Change unit on Trip Duration into minutes
    raw_data['Trip Duration (Minutes)'] = raw_data['Trip Duration (Seconds)'].apply(lambda x: x/60.0)
    raw_data = raw_data.drop(columns=['Trip Duration (Seconds)'])
    
    # Append cleaned data to output df
    data_cleaned_JC = data_cleaned_JC.append(raw_data)

print(f'\nCompleted loading and cleaning. {len(data_cleaned_JC)} records stored into data_cleaned_JC dataframe.')
data_cleaned_JC.head()

Sucessfully read in 19676 rows from JC-201901-citibike-tripdata.csv.
Dropped nas.  19676 rows remain.
Sucessfully read in 18565 rows from JC-201902-citibike-tripdata.csv.
Dropped nas.  18565 rows remain.
Sucessfully read in 23606 rows from JC-201903-citibike-tripdata.csv.
Dropped nas.  23606 rows remain.

Completed loading and cleaning. 61847 records stored into data_cleaned_JC dataframe.

,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Geographic Scope,Year-Month,Trip Duration (Minutes)
0,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,Jersey City,2019-01,3.350000
1,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,Jersey City,2019-01,8.416667
2,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,Jersey City,2019-01,12.600000
3,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,Jersey City,2019-01,26.250000
4,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,Jersey City,2019-01,26.100000

### Read in and clean NYC csvs

In [5]:
# Create dataframe to hold cleaned data from from all csvs
data_cleaned_NYC = pd.DataFrame()

# Create list of NYC csv file names
csvs = ['201901-citibike-tripdata.csv', 
        '201902-citibike-tripdata.csv', 
        '201903-citibike-tripdata.csv']

for csv in csvs:
    # Read in to raw_data
    raw_data = pd.read_csv('./Resources/' + csv)
    if len(raw_data) > 0:
        print (f'Sucessfully read in {len(raw_data)} rows from {csv}.')
    else: 
        print (f'Failed reading in data from {csv}.')
    
    # Drop nas
    raw_data = raw_data.dropna()
    print(f'Dropped nas.  {len(raw_data)} rows remain.')
    
    # Drop 90% of rows for size concerns
    np.random.seed(10)
    remove_n = round(len(raw_data) * 0.9)
    drop_indices = np.random.choice(raw_data.index, remove_n, replace=False)
    raw_data = raw_data.drop(drop_indices)
    print(f'Decimated data. {len(raw_data)} rows remain.')
    
    # Add column stating geographic scope
    raw_data['Geographic Scope'] = 'New York City'
    
    # Rename columns with Tableau-facing names
    raw_data = raw_data.rename(columns={
        'tripduration': 'Trip Duration (Seconds)',
        'starttime': 'Start Time',
        'stoptime': 'Stop Time',
        'start station id': 'Start Station ID',
        'start station name': 'Start Station Name',
        'start station latitude': 'Start Station Latitude',
        'start station longitude': 'Start Station Longitude',
        'end station id': 'End Station ID',
        'end station name': 'End Station Name',
        'end station latitude': 'End Station Latitude',
        'end station longitude': 'End Station Longitude',
        'bikeid': 'Bike ID',
        'usertype': 'User Type',
        'birth year': 'Birth Year',
        'gender': 'Gender',
    })
    
    # Convert datetime columns from string to datetime
    raw_data['Start Time'] = pd.to_datetime(raw_data['Start Time'])
    raw_data['Stop Time'] = pd.to_datetime(raw_data['Stop Time'])
    
    # Extract Year-Month for future filtering
    def to_year_month(my_datetime):
        month = my_datetime.month
        year= my_datetime.year
        zero_if_needed = ''
        if (month >= 1 and month <= 9):
            zero_if_needed = '0'
        return str(year) + '-' + zero_if_needed + str(month) 
    raw_data['Year-Month'] = raw_data['Start Time'].apply(to_year_month)
    
    # Reassign values of gender column to human readable names
    raw_data['Gender'] = raw_data['Gender'].map({
        0: 'Unknown',
        1: 'Male',
        2: 'Female',
    })
    
    # Change unit on Trip Duration into minutes
    raw_data['Trip Duration (Minutes)'] = raw_data['Trip Duration (Seconds)'].apply(lambda x: x/60.0)
    raw_data = raw_data.drop(columns=['Trip Duration (Seconds)'])
    
    # Append cleaned data to output df
    data_cleaned_NYC = data_cleaned_NYC.append(raw_data)

print(f'\nCompleted loading and cleaning. {len(data_cleaned_NYC)} records stored into data_cleaned_NYC dataframe.')
data_cleaned_NYC.head()

Sucessfully read in 967287 rows from 201901-citibike-tripdata.csv.
Dropped nas.  967269 rows remain.
Decimated data. 96727 rows remain.
Sucessfully read in 943744 rows from 201902-citibike-tripdata.csv.
Dropped nas.  943735 rows remain.
Decimated data. 94373 rows remain.
Sucessfully read in 1327960 rows from 201903-citibike-tripdata.csv.
Dropped nas.  1327950 rows remain.
Decimated data. 132795 rows remain.

Completed loading and cleaning. 323895 records stored into data_cleaned_NYC dataframe.

,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Geographic Scope,Year-Month,Trip Duration (Minutes)
2,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,Male,New York City,2019-01,9.850000
6,2019-01-01 00:09:21.006,2019-01-01 00:14:01.151,3675.0,3 Ave & E 95 St,40.784597,-73.949685,3288.0,E 88 St & 1 Ave,40.778301,-73.948813,35391,Subscriber,1987,Male,New York City,2019-01,4.666667
10,2019-01-01 00:14:02.797,2019-01-01 00:29:35.045,379.0,W 31 St & 7 Ave,40.749156,-73.991600,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,35148,Subscriber,1986,Male,New York City,2019-01,15.533333
13,2019-01-01 00:15:40.014,2019-01-01 00:17:17.312,3430.0,Richardson St & N Henry St,40.719079,-73.942237,3095.0,Graham Ave & Herbert St,40.719293,-73.945004,34307,Subscriber,1988,Male,New York City,2019-01,1.616667
15,2019-01-01 00:17:28.982,2019-01-01 00:23:17.608,3095.0,Graham Ave & Herbert St,40.719293,-73.945004,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,35695,Subscriber,1988,Male,New York City,2019-01,5.800000

### Save cleaned dataframes to csv

In [6]:
output_path = './Resources/'
output_filename = '2019Q1_cleaned.csv'

data_cleaned_all = data_cleaned_JC.append(data_cleaned_NYC)
data_cleaned_all.to_csv(output_path + output_filename)